$DarkTheme: (
	Block-BG: rgb(43, 57, 69),
	Root-BG: rgb(32, 44, 55)
);
$LightTheme: (
	Root-BG: rgb(250, 250, 250),
	Text-Color: rgb(17, 21, 23),
	Search-Box-Text: rgb(133, 133, 133)
);

@function get-color($theme, $color) {
	@return map-get($theme, $color)
}