@import './abstracts/colors.scss';
@import './abstracts/media.scss';

:root {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14px;
}

body {
  margin: 0;
}

#root {
  background: get-color($LightTheme, Root-BG);
	min-height: 100vh;

  * {
    box-sizing: border-box;
		color: get-color($LightTheme, Text-Color);
		transition: transform .2s;
  }
}

h1, strong {
	font-size: 1.5rem;
}

dt, b {
	font-weight: 600;
	white-space: nowrap;
}

button, select,
label, input {
  &:active {
    outline: 1px solid rgba(0, 0, 0, .6);
  }
}

button, select,
label, input {
	&:focus {
    outline: none;
  }
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

[class$=icon] {
  width: 18px;
}






/*********************************    Dark Theme    **************************************/
#root.dark {
  background: get-color($DarkTheme, Root-BG);

  * {
		color: white !important;
		
		&.search-box__input::placeholder {
			color: white;
		}
  }

  .header,
	.search-box__input,
	.search-box__dropdown,
  .filter-box>*,
  .home-route__cards-section>*,
  .details-route__back-btn {
    background: get-color($DarkTheme, Block-BG);
  }

  button,
  select,
  label {
    &:active {
      outline-color: white;
    }
  }

  input:focus {
    outline-color: white;
  }

  .header__theme-icon path {
    fill: white !important;
    stroke: white !important;
  }

  .search-box__search-icon > * {
    stroke: white !important;
  }

  .header__theme-toggler>* {
    filter: drop-shadow(0 0 10px);
  }
}