@import './abstracts/colors.scss';

.details-route {
	padding: 5vh 5vw;
	min-height: 90vh;

  &__back-to-home {
    background: white;
    padding: 1rem 1.5rem;
    border: none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
  }
}

.detailed-country {
  margin-top: 10vh;
  display: grid;
  grid-template-areas:
    "flag name name"
    "flag data1 data2"
		"flag borders borders";
	gap: 2vh 5vw;

  >* {
    margin: 0
  }

  &__flag {
		grid-area: flag;
		width: Min(500px, 90vw);
		align-self: stretch;
  }

  &__name {
    grid-area: name;
  }

  &__data-group1 {
    grid-area: data1;
  }

  &__data-group2 {
    grid-area: data2;
  }

  &__borders {
    grid-area: borders;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
  }
}


.data-group1,
.data-group2 {
  &__data-field {
    margin: 5px 0;
    display: flex;
		flex-flow: row nowrap;

		&__key {
			margin-right: 5px;
		}
    &__value {
      margin: 0;
    }
  }
}

.borders__list {
  margin: 0;
  display: flex;
  flex-flow: row wrap;

  &__country {
    box-shadow: 0 0 3px #858585;
    text-align: center;
    padding: 0.5rem;
    margin: 0 1rem 1rem;
  }
}