.header {
  padding: 3vh 5%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  background: white;
  border-bottom: 3px solid rgba(0, 0, 0, .06);

  &__theme-toggler {
    background: none;
    border: none;
  }

  &__dark-mode-text {
    vertical-align: middle;
  }

  &__theme-icon {
    width: 20px;
    margin-right: 5px;
    vertical-align: middle;
  }
}