@import './abstracts/colors.scss';

$box-shadow: 0 2px 10px rgba(0, 0, 0, .169);
$border-radius: 5px;

.home-route {
  [class$=icon] {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    width: 18px;
  }

  [class$=__clear-icon] {
    cursor: pointer;
    margin-left: 10px;
  }
}


/*********************************    Tools Section    **************************************/
.tools-section {
  padding: 5vh 5vw 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  .search-wrapper,
  .filter-box {
    margin-bottom: 5vh;
  }
}

.search-wrapper {
  margin-right: 5vw;
  background: transparent;
  position: relative;

  &__search-box {
    width: 300px;
    height: 100%;

    @supports (width: Min(90vw, 550px)) {
      width: Min(90vw, 550px);
    }

    /* reserve left space for search icon [1.5rem + 20px (icon's width)] */
    padding: 1.5rem 2rem 1.5rem calc(1.5rem + 50px);
    border: 0;
    border-radius: $border-radius;
    box-shadow: $box-shadow;

    &:focus {
      box-shadow: $box-shadow inset;
    }
  }

  &__search-icon {
    left: 1.5rem;

    path {
      stroke: get-color($LightTheme, Search-Box-Text)
    }
  }
}


.filter-box {
  position: relative;

  &__label,
  &__options {
    box-shadow: $box-shadow;
    width: 250px;

    @supports (width: Min(50vw, 250px)) {
      width: Min(50vw, 250px)
    }

    display: inline-block;
    padding: 1.5rem 2rem 1.5rem;
    background: white;
    border-radius: $border-radius;
  }


  &__label {
    max-height: 70px;
    position: relative;
    cursor: pointer;

    &:focus {
      box-shadow: $box-shadow inset;
    }

    &__arrow-icon {
      right: 5%;
    }
  }

  &__options {
    position: absolute;
    top: 105%;
    left: 0;
    width: 100%;
    background-color: white;
    opacity: .97;

    &__region {
      cursor: pointer;
      margin: 3% 0;
    }
  }
}



/*********************************    Cards-Section    **************************************/
.cards-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
  justify-items: center;
  justify-content: space-between;
  margin: 5vh 5vw;
  gap: Min(50px, 5%);

  @supports not (gap: Min(50px, 5%)) {
    margin: 0;
    .overview-card {
      margin: 5vh 5vw;
    }
  }
}

.overview-card {
  margin: 0;
  max-width: 350px;
  box-shadow: $box-shadow;
  border-radius: $border-radius;
  background: white;
  overflow: hidden;

  &:hover &__flag {
    transform: translateY(-10%);
  }

  &:hover &__text-content {
    transform: translateY(-5%);
  }

  &__flag {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
  }

  &__text-content {
    padding: 10%;
  }

  &__text-content__country-name {
    margin-top: 0;
  }

  &__text-content__data-field {
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;

    .data-field__key {
      margin: 0;
    }

    .data-field__value {
      margin: auto 10px;

      @supports (margin: auto Max(10px, 5%)) {
        margin: auto Max(10px, 5%);
      }
    }
  }
}